@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* color: white; */
  font-family: "Poppins", sans-serif;
}
nav {
  height: 60px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}
.left-nav {
  /* background-color: green; */
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-nav {
  /* background-color: yellow; */
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav ul {
  display: flex;
  gap: 50px;
  /* background-color: aqua; */
}
.right-nav ul li {
  list-style: none;
}
.right-nav ul li a {
  text-decoration: none;
  color: black;
}

.hero-section {
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-details {
  /* background-color: red; */
  height: 70%;
  width: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-details img {
  height: 60px;
  width: 120px;
}
.text {
  /* background-color: green; */
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.black {
  font-size: 3em;
  font-weight: 500;
}
.colorful {
  font-size: 3em;
  font-weight: 500;
}
.cl {
  background: -webkit-linear-gradient(left, blue, rgb(241, 58, 244));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.normal {
  font-size: 1.7em;
  /* background-color: yellow;    */
  text-align: center;
  color: gray;
}
.button {
  /* background-color: magenta; */
  height: 70px;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  height: 70%;
  width: 20%;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
}
.button button:nth-child(2) {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.second-section {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  height: 20%;
  /* background-color:green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heading p {
  /* font-size: 4em; */
  width: 50%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.heading span {
  /* background-color: red; */
  height: 100%;
  width: 40%;
}
.second-first {
  /* background-color: yellow; */
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.second-ff {
  width: 40%;
  height: 100%;
  /* background-color: crimson; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-ff img {
  height: 100%;
  width: 85%;
}
.second-fs {
  width: 60%;
  height: 100%;
  /* background-color: magenta; */
}
.product {
  height: 60%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
}
.product img {
  height: 60px;
  width: 60px;
  box-shadow: 5px 5px 0px #ebe9ff;
  border-radius: 20px;
}
.buttton {
  height: 20%;
  width: 100%;
  /* background-color: bisque; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttton button {
  height: 60%;
  width: 30%;
  border-radius: 25px;
  background-color: black;
  color: white;
  border: none;
  margin-right: 50px;
}
.buttton button i {
  margin-left: 10px;
}
.second-small {
  height: 80%;
  width: 80%;
  /* background-color: gray; */
}
.third-small {
  height: 80%;
  width: 80%;
  /* background-color: gray; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section {
  /* background-color: red; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-2 {
  height: 20%;
  width: 40%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.paragraph {
  height: 20%;
  width: 55%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-layer {
  height: 60%;
  width: 100%;
  /* background-color: green;  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.card {
  height: 90%;
  width: 20%;
  /* background-color: magenta; */
}
.img {
  height: 70%;
  width: 100%;
  border-radius: 20px;
  background: #f3f3f3;
  box-shadow: 6px 6px 9px #cacaca, -6px -6px 9px #ffffff;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.texxt {
  height: 30%;
  /* background-color: aqua; */
  width: 100%;
}
.texxt p:nth-child(1) {
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
}
.texxt p:nth-child(2) {
  font-size: 0.7em;
  text-align: center;
  color: gray;
}

.why-us {
  height: 80vh;
  width: 100%;
  background-color: #f3f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.why-t {
  height: 20%;
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.why-c {
  height: 80%;
  width: 80%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-one {
  height: 100%;
  width: 40%;
  /* background-color: aqua; */
}
.why-one img {
  height: 100%;
  width: 100%;
}
.why-two {
  height: 100%;
  width: 60%;
  /* background-color: magenta; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.s-card {
  height: 40%;
  width: 40%;
  border-radius: 18px;
  background: linear-gradient(145deg, #e1e5f8, #e4e8f9);
  box-shadow: 18px 18px 36px #c4c3c3, -18px -18px 36px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.s-card p:nth-child(1){
  font-size: 1em;
  font-weight: 500;
}
.s-card p:nth-child(2){
  font-size: 0.7em;
  padding-inline: 10px;
  color: gray;
  text-align: center;
}






























.review{
  height: 80vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-section{
  height: 80%;
  width: 80%;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
}
.s-heading{
  height: 20%;
  width: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-heading p{
  font-size: 2em;
  text-align: center;
}
.s-carrd{
  height: 80%;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.s-carrd hr{
  height: 100%;
}
.teeext{
  height: 30%;
  width: 100%;
  /* background-color: green; */
}
.teeext p:nth-child(1){
  text-align: center;
  font-size: 1.3em;
}
.teeext p:nth-child(2){
  text-align: center;
  font-size: 0.5em;
  color: gray;
}
.ss-card{
  height: 90%;
  width: 20%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imggg{
  height: 70%;
  width: 90%;
  /* background-color: red; */
  overflow: hidden;
  border-radius: 25% 75% 75% 25% / 47% 50% 50% 53% ;
  box-shadow: -20px -10px 0px #eaf1ff;
}
.imggg img{
  height: 100%;
  width: 100%;
}





















































.badges {
  height: 80vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgg img {
  height: 170px;
  width: 170px;
}
.b-heading {
  height: 20%;
  width: 80%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.archi {
  height: 80%;
  width: 80%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardd {
  height: 100%;
  width: 30%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.texxxt {
  text-align: center;
}
.texxxt p:nth-child(1) {
  font-size: 1.6em;
}
.texxxt p:nth-child(2) {
  font-size: 0.6em;
  color: gray;
}
hr {
  height: 50%;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.66);
  border: none;
}

footer {
  height: 60vh;
  width: 100%;
  background-color: #f3f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-footer {
  height: 100%;
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ff-one {
  height: 50%;
  width: 70%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.ff-one p:nth-child(1) {
  font-size: 2em;
}
.ff-one p:nth-child(2) {
  font-size: 0.8em;
  /* text-align: center; */
  color: gray;
}
.ff-two {
  height: 30%;
  width: 70%;
  /* background-color: magenta; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.ff-two i {
  font-size: 6em;
  color: blue;
}
.second-footer {
  height: 100%;
  width: 50%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sf-one {
  /* background-color: aqua; */
  height: 50%;
  width: 70%;
  display: flex;
  font-size: 0.9em;
}
.sff-one {
  /* background-color: red; */
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.sff-one a,
.sff-two a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
.sff-two {
  /* background-color: yellow; */
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.sf-two {
  /* background-color: rgb(21, 70, 23); */
  height: 20%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.sf-two {
  font-size: 0.9em;
}
